
<!-- FRONT END -->
<h3>Front End</h3>
<ul class="list-inline text-center">
	<li>
		<figure>
			<img src="{{"/images/skills/modificadas/html5.png"}}" alt="HTML5 logo">
			<figcaption>HTML5</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="" alt="">
			<figcaption>CSS3</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="" alt="">
			<figcaption>SASS</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="" alt="">
			<figcaption>JS</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="" alt="">
			<figcaption>JQUERY</figcaption>
		</figure>
	</li>
</ul>
<!-- CMS -->
<h3>CMS</h3>
<ul class="list-inline text-center">
	<li>
		<figure>
			<img src="" alt="">
			<figcaption>WORDPRESS</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="" alt="">
			<figcaption>SHOPIFY</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="" alt="">
			<figcaption>JOOMLA</figcaption>
		</figure>
	</li>
</ul>
<!-- OTHER TECHNOLOGIES -->
<h3>Other Technologies</h3>